body {
    background-color:#012e27;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    color: #333;
    text-align: center;
}

h2 {
    color: #666;
    font-style: italic;
    text-align: center;
}

h3 {
    color: #009688;
}

h4 {
    color: #555;
}

button {
    background-color: #009688;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #00796b;
}

img {
    display: block;
    margin: auto;
    max-width: 100%;
    height: auto;
}
#div_paragrafo{
    color: rgb(102, 102, 102);
    background-color: rgb(58, 58, 58);
}
.longo{
    background-color: rgb(58, 58,58);
}
#p1{
    color: rgb(180, 0, 0);
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
p{
    font-family: 'Courier New', Courier, monospace;
}
ul{
    color: rgb(189, 6, 6);
}
ol{
    background-color: rgb(59, 0, 0);
}